#wpc-content {

	.wpcampus-login-form {
		background: rgba($wpc-2019-blue,0.05);
		padding: 20px;
		border-radius: 5px;
	}

	.wpc-mc-signup {
		margin: 2.5rem 0 1rem 0;
	}

	.wpc-livestream-sponsors {

		img {
			margin: 0;
		}

		@media #{$wpc-container-max-width-bp} {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: $element-margin-vert 0;

			.wpc-livestream-sponsor {
				flex: 1;
				width: 50%;
				padding: 0 10px;

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}
			}
		}
	}

	#wpc-crowdcast {
		margin: 1em 0;

		iframe {
			display: block;
			width: 100%;
			height: 450px;
			border: 0;
			margin: 0;
			padding: 0;
		}

		@media #{$wpc-container-max-width-bp} {
			iframe {
				height: 600px;
			}
		}
	}

	.conf-sch-container {

		h2.schedule-header {
			text-transform: uppercase;
			font-weight: 500;
			font-size: 1.7rem;
			line-height: 1.3;
		}
	}

	#wpc-crowdcast-schedule {
		margin: 2em 0;

		.conf-sch-container {
			clear: both;

			.event-links {

				.event-livestream {
					//display: none;
				}
			}

			.schedule-table {

				.schedule-row {

					/*&:not(.group):not(.session),
					&.status-past {
						display: none;
					}*/
				}
			}

			.schedule-by-day {

				/*&.schedule-in-past:not(.schedule-in-progress):not(.schedule-in-future) {
					display: none;
				}

				&:not(.group):not(.session) {
					display: none;
				}

				&:not(.schedule-in-future) {

					.schedule-header {
						display: none;
					}
				}*/
			}

			.schedule-nav-buttons.nav-top {
				display: none;
			}

			.schedule-side-buttons {

				.schedule-video {
					display: none;
				}
			}

			@media screen and (min-width: 600px) {
				.conference-schedule-container {

					.schedule-nav-buttons {
						margin: 1em 0;
						padding-bottom: 1em;
					}
				}
			}
		}
	}

	.wpc-feedback-confirmation {
		background: rgba($wpc-green-transp,0.05);
		padding: 20px 25px;
		text-align: center;

		& + .button {
			margin-top: 15px;
		}
	}

	.panel {

		&.wpc-feedback-notes-panel,
		&.wpc-feedback-session-panel,
		&.wpc-feedback-identifying-panel {
			padding: 20px 25px;
			border-radius: 5px;

			h2 {
				font-size: 1.8rem;
				line-height: 1.2;
				margin-bottom: 7px;

				& + p {
					margin-top: 0;
				}
			}

			ul {

				li {
					margin: 3px 0 0 0;

					&:first-child {
						margin-top: 0;
					}
				}
			}

			& + button,
			& + .button {
				margin-top: -10px;
			}
		}

		&.wpc-feedback-login-check {
			padding: 10px 15px;
			border-radius: 5px;

			& + .panel {
				margin-top: -.75rem;
			}

			&.wpc-attendees-logged-in {
				background-color: $wpc-green;
				background-image: url('../../images/checkmark-white.svg' );
				background-position: 15px center;
				background-repeat: no-repeat;
				background-size: auto 20px;
				padding-left: 47px;
			}

			&.wpc-attendees-not-logged-in {
				background-color: $wpc-red;
				background-image: url('../../images/x-white.svg' );
				background-position: 15px center;
				background-repeat: no-repeat;
				background-size: auto 20px;
				padding-left: 47px;
			}
		}

		&.wpc-feedback-notes-panel {

			& + .panel {
				margin-top: -.75rem;
			}

			ul {
				line-height: 1.5rem !important;
				margin: 0 0 0 1.8rem !important;

				li {
					list-style: disc !important;
				}

				ul {
					margin: 0.5rem 1.5rem 0.5rem !important;
				}
			}

			h2 {
				margin-bottom: 1rem;
			}

			& > ul > li > span {
				font-size: 110%;
				font-weight: bold;
			}

			&.wpc-attendees-logged-in {
				background-color: $wpc-green-transp;
			}

			&.wpc-attendees-not-logged-in {
				background-color: rgba( $wpc-red, 0.05 );
			}
		}

		&.wpc-feedback-session-panel {

			ul {
				display: block;
				margin: 0 !important;
				font-size: 1.2rem;
				line-height: 1.7;

				li {
					display: flex;
					list-style: none !important;
					margin: 5px 0 0 0;
					
					> span, > div {
						display: block;

						&.wpc-session-label {
							width: 100px;
							font-weight: bold;
						}

						&.wpc-session-value {
							flex-grow: 1;
						}
					}

					&:first-child {
						margin-top: 0;
					}
				}
			}
		}

		> * {

			&:first-child {
				margin-top: 0 !important;
			}

			&:last-child {
				margin-bottom: 0 !important;
			}
		}
	}

	body.page-template-template-watch-live & {

		.wpc-page-title-container {
			padding: 0;
		}

		.panel {
			margin: 1em 0;
		}

		#wpc-content .wpc-breadcrumbs {
			display: none;
		}
	}

	body.page-watch & {

		#wpc-videos {
			margin-top: 1.5rem;
		}
	}
}

#wpc-main {

	.gform_wrapper {

		ul.gform_fields {

			li.gfield {

				&.wpc-question-panel {
					background: $wpc-gray-transp;
					padding: 25px;
					border: 0;

					h2 {
						line-height: 2.1rem;
					}

					/*&.wpc-question-panel-header {
						margin-bottom: 0;
						padding-bottom: 20px;

						.gsection_description {
							margin-bottom: 0;
						}
					}*/

					&.wpc-question-panel-question {
						padding: 20px 25px;

						.gfield_description * {
							font-size: .875rem;
						}

						&.wpc-question-panel-error {
							background: rgba(#700,0.07);

							.gfield_label,
							.ginput_container {
								display: none;
							}

							.gfield_description {
								margin: 0;
								padding: 0;
							}

							p {
								color: #900;
								margin: 0;
							}
						}
					}
				}
				
				&.gfield_visibility_administrative {
					display: none;
				}
			}
		}
	}
}

body.page-watch #wpc-main .wpc-container {
	max-width: 1200px;
}

.wpc-watch-buttons {
	overflow: auto;
	margin: 0 0 1.6rem 0;

	.wpc-watch-button {
		margin: 10px 0 0 0;

		a {
			display: block;
			background-color: $wpc-2019-blue;
			color: #fff;
			text-align: center;
			font-size: 2rem;
			line-height: 1.2;
			font-weight: 300;
			margin: 0;
			padding: 60px 30px;
			transition: background-color 1s ease;
			text-decoration: none;
			cursor: pointer;

			&:focus,
			&:hover {
				background: darken( $wpc-2019-blue, 10% );
			}
		}

		.watch-label {
			display: block;
			text-transform: uppercase;
		}

		.watch-title {
			display: block;
			font-size: 1.3rem;
			line-height: 1.4;
			margin: 1rem 0 0 0;
			text-decoration: underline;
		}

		&:first-child {
			margin-top: 0;
		}
	}

	@media screen and (min-width:800px) {
		display: flex;

		.wpc-watch-button {
			align-items: center;
			flex: 1;
			padding: 0 5px;
			margin: 0;

			a {
				padding-top: 0;
				padding-bottom: 0;
				height: 250px;

				position: relative;

				.watch-text {
					width: 100%;
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					padding: 0 30px;
				}
			}

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}
}

.wpc-watch-sponsors {
	background: $wpc-light-blue;
	padding: 20px;
	margin: 0 0 1rem 0;

	img, a {
		display: block;
		margin: 0;
	}

	.wpc-watch-sponsor {
		background: #fff;
		padding: 20px;

		&.pantheon {
			background: $wpc-dark-blue;
			padding: 0 8px 8px;

			.sponsor-label {
				font-weight: bold;
				margin: 0;
				text-align: center;
				font-size: 115%;
				background: $wpc-dark-blue;
				color: #fff;
				padding: 1rem;
			}

			a {
				background: #fff;
				padding: 30px;
			}
		}

		&.wpexplorer {

			img {
				max-height: 300px;
			}
		}
	}

	.wpc-watch-sponsor-row {
		display: flex;
		align-items: stretch;

		.wpc-watch-sponsor {
			display: flex;
			align-items: center;
			margin: 1rem 0.5rem 0;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

body.page-schedule-full.page-template-template-content-only,
body.page-schedule-only.page-template-template-content-only,
body.page-schedule.wpc-template-content-only {
	padding: 20px;
}

body.page-template-template-session-survey {

}
















body.page-schedule,
body.page-watch {

	#wpc-content {

		.wpc-breadcrumbs {
			@include for-screen-reader();
		}
	}
}

body.page-schedule {

	#wpc-content {

		h1 {
			margin-bottom: 1rem;
		}

		.schedule-nav-buttons {

			.schedule-nav-button {

				&.highlight {
					background-color: $wpc-gray;
					color: #fff;
					font-weight: bold;

					&:focus,
					&:hover {
						background-color: darken( $wpc-gray, 10% );
					}
				}
			}
		}
	}
}

body.page-watch {

	h1,
	.wpc-page-title {
		margin-top: 0;
	}
}

body.page-watch-main {

	.conf-sch-container {
		border-top: 1px solid rgba(0,0,0,.1);
	}

	.wpc-watch-container {

		&.sponsors,
		&.speakers,
		&.schedule {
			margin-top: 2rem;
		}
	}
}

body.page-watch-room {

	#wpc-network-banner .wpc-container,
	.wpc-container {
		max-width: none;
	}

	#wpc-network-banner .wpc-container,
	#wpc-header .wpc-container {
		padding-left: 10px;
		padding-right: 10px;
	}

	@media screen and (min-width: 600px) {
		#wpc-header .wpc-menu-container ul.wpc-menu {
			max-width: none;
		}
	}

	#wpc-main {

		.wpc-container {
			max-width: none;
			padding: 2em;
		}
	}

	#wpc-content {
		padding-top: 0;
		padding-right: 0;
		padding-left: 0;

		h1 {
			margin-top: 0;
		}

		.wpc-watch-container {

			&.schedule,
			&.speakers,
			&.sponsors {
				@include imitate-container();
				padding-left: 30px;
				padding-right: 30px;

				@media screen and (min-width: 600px) {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}

		#wpc-watch-other-room {
			display: block;
			margin: .8rem 0 1.3rem 0;
		}

		.wpc-mc-signup {
			max-width: 920px;
			margin-left: auto;
			margin-right: auto;
		}

		@media screen and (min-width: 600px) {

			.wpc-watch-container {
				position: relative;
			}

			#wpc-watch-other-room {
				position: absolute;
				right: 0;
				top: 10px;
				width: auto;
				margin: 0;
			}
		}
	}
}

.wpc-watch-buttons {
	overflow: auto;
	margin: 0 0 1.6rem 0;

	.wpc-watch-button {
		margin: 10px 0 0 0;

		a {
			display: block;
			background-color: $wpc-2019-blue;
			color: #fff;
			text-align: center;
			font-size: 2rem;
			line-height: 1.2;
			font-weight: 300;
			margin: 0;
			padding: 60px 30px;
			transition: background-color 1s ease;
			text-decoration: none;
			cursor: pointer;

			&:focus,
			&:hover {
				background: darken( $wpc-2019-blue, 10% );
			}
		}

		.watch-label {
			display: block;
			text-transform: uppercase;
		}

		.watch-title {
			display: block;
			font-size: 1.3rem;
			line-height: 1.4;
			margin: 1rem 0 0 0;
			text-decoration: underline;
		}

		&:first-child {
			margin-top: 0;
		}
	}

	@media screen and (min-width:800px) {
		display: flex;

		.wpc-watch-button {
			align-items: center;
			flex: 1;
			padding: 0 5px;
			margin: 0;

			a {
				padding-top: 0;
				padding-bottom: 0;
				height: 250px;

				position: relative;

				.watch-text {
					width: 100%;
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					padding: 0 30px;
				}
			}

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}
}

.wpc-watch-sponsors {
	background: $wpc-light-blue;
	padding: 20px;
	margin: 0 0 1rem 0;

	img, a {
		display: block;
		margin: 0;
	}

	.wpc-watch-sponsor {
		background: #fff;
		padding: 20px;

		&.pantheon {
			background: $wpc-dark-blue;
			padding: 0 8px 8px;

			.sponsor-label {
				font-weight: bold;
				margin: 0;
				text-align: center;
				font-size: 115%;
				background: $wpc-dark-blue;
				color: #fff;
				padding: 1rem;
			}

			a {
				background: #fff;
				padding: 30px;
			}
		}

		&.wpexplorer {

			img {
				max-height: 300px;
			}
		}
	}

	.wpc-watch-sponsor-row {
		display: flex;
		align-items: stretch;

		.wpc-watch-sponsor {
			display: flex;
			align-items: center;
			margin: 1rem 0.5rem 0;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

$watch-item-margin: 8px;
$watch-iframe-height: 700px;
#wpc-watch-area {
	background: #000;
	padding: 1rem;
	margin: 0 0 2rem 0;

	iframe {
		display: block;
		width: 100%;
		height: $watch-iframe-height;
		border: 0;
		margin: 0;
		padding: 0;

		&.wpc-live-captions {
			height: 300px;
		}

		&.wpc-live-chat {
			//height: 100%;
		}
	}

	div.wpc-live-captions {
		border: 2px solid rgba(255,255,255,.5);
		margin: $watch-item-margin 0 0 0;
	}

	/*.wpc-live-chat-message {
		background: $wpc-light-blue;
		padding: 1rem;

		ul, ol {
			margin: 0;
		}
	}*/

	.wpc-live-captions-actions {
		margin: $watch-item-margin 0 0;

		.wpc-live-captions-open {
			background: $wpc-2019-blue;
			border-radius: 0;
			height: auto;
			color: #fff;
			line-height: 45px;
			text-decoration: underline;

			&:hover,
			&:focus {
				background: darken( $wpc-2019-blue, 10% );
				color: #fff;
			}
		}
	}

	.wpc-live-captioning-sponsor {
		display: flex;
		align-items: center;
		justify-content: center;
		background: #fff;
		margin: $watch-item-margin 0 0;
		padding: 20px;

		.sponsor-label {
			font-weight: bold;
			font-size: 115%;
			color: #000;
			margin: 0 1rem 0 0;
		}

		img {
			max-height: 100px;
			margin: 0;
		}

		a {
			display: flex;
			align-items: center;
		}
	}

	@media screen and (min-width: 600px) {

		&.wpc-watch-area--has-qa {

			.wpc-live-watch {
				display: flex;

				div.wpc-live-video {
					flex-basis: 75%;
				}

				div.wpc-live-chat {
					flex: 1;
					margin: 0 0 0 $watch-item-margin;
				}
			}
		}
	}
}

#wpc-watch-room {

	.conf-schedule-speakers {
		margin: 0 0 1rem 0;
	}

	.wpc-live-header {
		background: $wpc-light-blue;
		color: #000;

		.header-button {
			display: block;
			width: auto;
			background: $wpc-2019-blue;
			color: #fff;
			margin: 0;
			padding: 15px 20px;
			text-align: center;
			border-radius: 0;
			height: auto;
			line-height: inherit;
			transition: background-color 1s ease;

			&:hover,
			&:focus {
				background: darken( $wpc-2019-blue, 10% );
			}

			&.refresh-button {
				background: url('../../images/refresh.png') center center no-repeat $wpc-orange;
				background-size: auto 50%;
				min-width: 75px;
				min-height: 75px;

				span {
					@include for-screen-reader;
				}

				&:hover,
				&:focus {
					background-color: darken( $wpc-orange, 10% );
				}
			}
		}

		.wpc-live-headers {
			padding: 20px 30px;

			> * {
				margin: 0;
				font-size: 2rem;
				line-height: 1.2;
			}
		}

		@media screen and (min-width: 600px) {
			display: flex;
			align-items: stretch;

			> * {
				display: flex;
				align-items: center;
			}

			h2 {
				flex: 1;
			}

			.wpc-live-headers {
				display: flex;
				flex: 1;

				> * {
					display: flex;
					align-items: center;
				}

				h2 {
					margin: 0 0 0 1rem;
				}
			}

			.header-button {
				display: flex;
				align-items: center;
			}
		}
	}

	.wpc-live-next {
		background: rgba( #900, 0.05 );
		color: #000;
		border-top: 1px solid rgba( $wpc-2019-blue, 0.2 );

		.next-message {
			margin: 0;
			padding: 15px 30px;
			font-weight: bold;
			text-align: center;

			@media screen and (min-width: 600px) {
				text-align: left;
			}
		}
	}

	.wpc-live-loading {
		pointer-events: none;
		opacity: 0;
		transition: opacity 1s ease;
	}

	$loading-min-height: 200px;
	&.loading {
		min-height: $loading-min-height;
		position: relative;
		pointer-events: none;

		.wpc-live-loading {
			opacity: 1;
			min-height: $loading-min-height;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: url('../../images/loading.gif') center center no-repeat rgba(#fff,0.8);
			z-index: 1000;
		}
	}
}

#wpc-live-schedule {

	#wpc-schedule-button {
		display: block;
		margin: 0 0 -.3rem 0;
	}

	@media screen and (min-width: 600px) {

		#wpc-next-header {
			float: left;
		}

		#wpc-schedule-button {
			float: right;
			width: auto;
			margin: 6px 0 0 0;
		}
	}

	.conf-sch-container {
		clear: both;

		.schedule-header,
		.schedule-nav-buttons.nav-top {
			display: none;
		}

		.schedule-table {

			.schedule-row {

				&.status-past {
					display: none;
				}
			}
		}
	}
}
